# Maven build artifacts
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven release plugin
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
build.log

# IDE - VS Code
.vscode/

# IDE - Eclipse
.settings/
.project
.classpath
.factorypath

# IDE - IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# OS specific files
Thumbs.db
.DS_Store

# Temporary files
*.tmp
*.bak
*.swp
*~

# Bỏ qua file môi trường chứa thông tin nhạy cảm
*.properties

*.dbdiagram